<header class="page-header dark-paths-lighter">
    <div class="container">
        <h1 class="py-9 text-center text-light">{{ title }}</h1>
    </div>
</header>

<div class="container">
    <div class=" my-3 row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="addTitleInput">Add A Title</label>
                <input type="text" class="form-control" id="addTitleInput" placeholder="Add title... (required)" #createTitle>
                <label for="addTaskInput">Description</label>
                <input type="text" class="form-control" id="addTaskInput" placeholder="Add task..." #createTodo>
            </div>
            <button type="submit" class="btn btn-primary" (click)="addTodo(createTitle.value, createTodo.value); createTitle.value = ''; createTodo.value = ''">Add</button>
        </div>
        <div class="col-sm-6">
            <div class="drop-box rounded w-100 p-3 h-100 d-inline-block text-center" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
                <br>
                <h5><b class="text-dark">Drop Box</b></h5>
                <br>
                <h6 class="text-dark">Drop your JSON file here.. (todo.json)</h6>
            </div>
        </div>
    </div>

    <div>
        <h3>Not Completed</h3>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Completed?</th>
                    <th scope="col">&#10004;</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let todo of incompleteList">
                    <td>
                        <h6><b>{{ todo.task }}</b></h6>
                        {{ todo.description }}
                    </td>
                    <td>{{ todo.complete ? "Yes" : "No" }}</td>
                    <td>
                        <button type="button" class="btn btn-success" (click)="setDone(todo)">&#10004;</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" (click)="deleteIncomplete(todo)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h3>Completed</h3>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Completed?</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let todo of completedList">
                    <td>
                        <h6><b>{{ todo.task }}</b></h6>
                        {{ todo.description }}
                    </td>
                    <td>{{ todo.complete ? "Yes" : "No" }}</td>
                    <td>
                        <button type="button" class="btn btn-danger" (click)="deleteComplete(todo)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>